@charset "UTF-8";
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Didact Gothic", sans-serif;
  color: rgb(24, 72, 174);
  text-align: center;
  font-size: 16px;
  background-color: rgb(247, 234, 218);
  padding-top: 102px;
  /*Estilos de los botones */
  /*Estilos del Card productos */
  /*Estilos del Modal carrito */
  /*Estilos del Modal notificación al agregar producto a carrito */
}
body h1, body h2, body h3 {
  font-weight: 800 !important;
  text-transform: uppercase;
}
body h2 {
  font-size: 50px;
}
body p {
  font-weight: 100;
  color: rgb(12, 12, 12);
}
body img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
body .btn a {
  text-decoration: none;
  font-size: 16px;
}
body .my-button {
  background: transparent;
  border: 1px solid rgb(189, 157, 48);
  border-radius: 45px;
  transition: 0.5s;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 30px;
  line-height: 140%;
}
body .my-button a {
  color: rgb(12, 12, 12);
  font-size: 23px;
}
body .my-button:hover {
  background-color: rgb(189, 157, 48);
}
body .product-card {
  text-align: center;
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
}
body .product-card .card-img {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 45px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
body .product-card .card-img img {
  object-fit: cover;
}
body .product-card .card-img:hover {
  filter: brightness(50%);
}
body .product-card .card-title {
  font-size: 24px;
  padding-bottom: 8px;
}
body .product-card .card-button {
  border-radius: 45px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  transition: 0.5s;
}
body .product-card .card-button .add-to-cart {
  margin: 0;
  line-height: 140%;
  width: 72%;
  background-color: #FAFAFA;
  color: rgb(12, 12, 12);
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 45px 0 0 45px;
  transition: 0.5s;
}
body .product-card .card-button .add-to-cart:hover {
  background-color: rgb(189, 157, 48);
  color: #FAFAFA;
}
body .product-card .card-button .price {
  margin: 0;
  line-height: 120%;
  width: 28%;
  background-color: rgb(189, 157, 48);
  color: #FAFAFA;
  font-size: 21px;
  padding: 14px 0;
  border-radius: 0 45px 45px 0;
}
body .product-card .card-button:hover {
  background-color: rgb(189, 157, 48);
}
body .custom-modal .modal-content {
  background-color: rgb(247, 234, 218);
  border-radius: 30px;
}
body .custom-modal .modal-content .list-group-item {
  background-color: rgb(247, 234, 218);
}
body .custom-modal .modal-content .list-group-item .my-button {
  padding: 12px;
}
body .custom-modal .modal-content .list-group-item .my-button svg {
  width: 24px;
  height: 24px;
}
body .custom-modal-alert {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 400px;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #d4edda;
  color: #155724;
  opacity: 0; /* Inicialmente, la alerta es invisible */
  transition: opacity 0.5s ease; /* Transición de opacidad para la animación de entrada */
}
body .custom-modal-alert.show {
  opacity: 1; /* Cuando tiene la clase 'show', la alerta es visible */
}
body .custom-modal-alert.fade {
  opacity: 0; /* Cuando tiene la clase 'fade', la alerta se hace invisible */
}

/*Estilos del Header*/
header {
  /*Estilos del Nav*/
  background-color: rgb(247, 234, 218) !important;
  padding-top: 25px;
}
header a {
  font-weight: 800;
  font-size: 23px;
}
header .top-bar {
  height: 60px;
  text-align: center;
}
header .top-bar .navbar-brand {
  display: flex;
  justify-content: center;
}
header .top-bar .header-buttons {
  background-color: rgb(247, 234, 218);
  border: none;
  height: 48px;
  width: 48px;
  padding: 0;
  transition: 0.5s;
}
header .top-bar .header-buttons svg {
  height: 38px;
  width: 38px;
  vertical-align: middle;
}
header .top-bar .header-buttons .bi-list, header .top-bar .header-buttons .bi-search, header .top-bar .header-buttons .bi-cart, header .top-bar .header-buttons .bi-bag-heart {
  color: rgb(24, 72, 174);
}
header .top-bar .header-buttons:hover {
  background-color: rgb(189, 157, 48);
}
header .top-bar .important-links {
  display: flex;
  justify-content: center;
}
header .top-bar .important-links .important-unordered-list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  width: auto;
}
header .top-bar .important-links .important-unordered-list .important-list-item {
  margin: 0px 8px 0px 8px;
}
header .navbar-brand, header .nav-link {
  color: rgb(24, 72, 174) !important;
  transition: 0.5s;
}
header .navbar-brand:hover, header .nav-link:hover {
  color: rgb(189, 157, 48) !important;
}
header .nav-item .activo {
  color: rgb(189, 157, 48) !important;
}
header .nav-item .activo:hover {
  color: rgb(24, 72, 174) !important;
}

/*Estilos del Hero*/
hero .hero-banner {
  background-image: url(../assets/img/bg-ganesha.png);
  background-position: 0px -100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}
hero .hero-content {
  padding-top: 80px;
  text-align: left;
}
hero .hero-content .hero-title {
  font-size: 80px;
}
hero .hero-content .hero-subtitle {
  font-size: 40px;
  margin-bottom: 32px;
}
hero .hero-content-cart {
  padding-top: 80px;
  text-align: center;
}
hero .hero-content-cart .hero-title {
  font-size: 80px;
}
hero .hero-content-cart .hero-subtitle {
  font-size: 40px;
  margin-bottom: 32px;
}

main {
  /*Estilos de About*/
  /*Estilos de Destacados */
}
main .mi-carrito {
  padding: 100px 0 50px 0;
}
main .mi-carrito .tabla-carrito {
  border-radius: 45px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  background: #FAFAFA;
  padding: 15px;
  margin-bottom: 30px;
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito {
  width: 100%;
  margin-bottom: 32px;
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .titulos-tabla td {
  padding: 32px 0 48px;
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  color: rgb(12, 12, 12);
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito .img-item-carrito {
  width: 23%;
  padding-right: 20px;
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito .img-item-carrito img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding-left: 16px;
  border-radius: 15px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito td {
  padding-bottom: 32px;
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito .item-descrip {
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  color: rgb(12, 12, 12);
  max-width: 30px; /* Ajusta el valor según sea necesario */
  word-wrap: break-word; /* Permite el salto de línea */
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito .my-button {
  padding: 12px;
}
main .mi-carrito .tabla-carrito .carta-tabla-carrito .item-carrito .my-button svg {
  width: 24px;
  height: 24px;
}
main .mi-carrito .carrito-ticket {
  border-radius: 45px;
  background: #FAFAFA;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}
main .mi-carrito .carrito-ticket .ticket-content {
  padding: 30px;
  border-top: 3px solid rgb(189, 157, 48);
}
main .mi-carrito .carrito-ticket .ticket-content:first-child {
  border: 0;
}
main .mi-carrito .carrito-ticket .ticket-content h5 {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: rgb(12, 12, 12);
  margin-bottom: 30px;
  text-transform: uppercase;
}
main .mi-carrito .carrito-ticket .ticket-content .detalle-compra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
main .mi-carrito .carrito-ticket .ticket-content .detalle-compra p {
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: rgb(12, 12, 12);
  margin-bottom: 0;
}
main .mi-carrito .carrito-ticket .ticket-content .detalle-compra span {
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  color: rgb(12, 12, 12);
  margin-bottom: 0;
}
main .mi-carrito .carrito-ticket .ticket-content .total-compra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
main .mi-carrito .carrito-ticket .ticket-content .my-button {
  background-color: rgb(189, 157, 48);
}
main .mi-carrito .carrito-ticket .ticket-content .my-button:hover {
  background-color: rgb(247, 234, 218);
}
main .mi-carrito .carrito-ticket .ticket-content .my-button a {
  font-size: 34px;
}
main .about .about-content {
  margin: 20px 0;
}
main .about .about-content .since {
  background: transparent;
  border: 1px solid rgb(189, 157, 48);
  border-radius: 119px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  height: 119px;
  width: 119px;
  padding: 15px 30px;
  margin: 0 auto;
}
main .about .about-content .details {
  text-align: left;
}
main .about .about-content .details .details-title {
  font-size: 40px;
}
main .about .img-about {
  margin-right: -300px;
  padding: 50px;
}
main .about .img-about img {
  border-radius: 45px;
  box-shadow: 42px 42px 24px rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}
main .destacados {
  padding: 100px 0;
}
main .categorias .categoria-img {
  position: relative;
  text-align: center;
  border-radius: 45px;
  display: grid;
  place-items: center;
  margin-bottom: 16px;
}
main .categorias .categoria-img .cat-img-prim {
  border-radius: 0 45px 45px 0;
}
main .categorias .categoria-img .cat-img-seg {
  border-radius: 45px;
}
main .categorias .categoria-img .cat-img-terc {
  border-radius: 45px 0 0 45px;
}
main .categorias .categoria-img a {
  position: absolute;
  text-decoration: none;
}
main .categorias .categoria-btn {
  background-color: #FAFAFA;
  color: rgb(12, 12, 12);
}
main .categorias .categoria-btn:hover {
  background-color: rgb(189, 157, 48);
}
main .novedades {
  padding: 100px 0;
}

/*Estilos del Footer*/
.footer .footer-menu {
  background-color: rgb(247, 234, 218);
}
.footer .footer-menu h3 {
  text-transform: uppercase;
}
.footer .footer-menu p a, .footer .footer-menu .social-media-icon {
  color: rgb(12, 12, 12);
  text-decoration: none;
  transition: 0.5s;
}
.footer .footer-menu p a:hover, .footer .footer-menu .social-media-icon:hover {
  color: rgb(189, 157, 48);
}
.footer .footer-legal {
  background-color: rgb(247, 234, 218);
  color: rgb(12, 12, 12);
}
.footer .footer-legal a {
  color: rgb(24, 72, 174);
  text-decoration: none;
  transition: 0.5s;
}

@media (min-width: 992px) {
  body {
    padding-top: 152px;
  }
  body .card-img img {
    width: 306px;
    height: 368px;
  }
  .about-content {
    margin: 112px 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body h2 {
    font-size: 42px !important;
  }
  body .card-img img {
    height: 466px;
  }
  .hero-banner {
    height: 810px !important;
    background-position: -250px -100px !important;
  }
  .hero-title {
    font-size: 60px !important;
  }
  .hero-subtitle {
    font-size: 30px !important;
  }
}
@media (max-width: 575px) {
  body h2 {
    font-size: 32px !important;
  }
  body .card-img img {
    height: 716px;
  }
  .navbar-brand {
    font-size: 130%;
  }
  .header-buttons {
    height: 33.6px !important;
    width: 33.6px !important;
  }
  .header-buttons svg {
    height: 26.6px !important;
    width: 26.6px !important;
  }
  .important-list-item {
    margin: 0px 4px 0px 4px !important;
  }
  .hero-banner {
    height: 600px !important;
    background-position: -300px 0px !important;
  }
  .hero-title {
    font-size: 40px !important;
  }
  .hero-subtitle {
    font-size: 23px !important;
  }
  .about {
    padding-top: 40px;
  }
  .about .since {
    position: absolute;
    left: unset;
    right: 20px;
  }
  .about .details {
    padding-top: 80px;
  }
  .about .img-about {
    padding: 24px !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
