$negrita: 800;
$light: 100;

$color-white: #FAFAFA;

$color-blue: rgba(24,72,174,255) ;
$color-crema: rgba(247,234,218,255);
$color-gold: rgba(189,157,48,255);

$color-gris-dark: rgb(12, 12, 12);

$header-buttons-size: 48px;
$header-icons-size: 38px;

$sombra: 42px 42px 24px;
$sombra-color:rgba(0, 0, 0, 0.01), 24px 24px 20px rgba(0, 0, 0, 0.03), 11px 11px 15px rgba(0, 0, 0, 0.04), 3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);;

html, body {
    overflow-x: hidden;
    
}


/*Estilos del Body*/
body {
    font-family: 'Didact Gothic', sans-serif;
    color: $color-blue;
    text-align: center;
    font-size: 16px;

    background-color: $color-crema;
    padding-top: 102px;


    h1, h2, h3 {
        
        font-weight:$negrita !important;
        text-transform: uppercase;

    }

    h2 {
        font-size: 50px;
    }

    p {
        font-weight: $light;
        color: $color-gris-dark;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .btn {
        a {
            text-decoration: none;
            font-size: 16px;
        }
    }

    /*Estilos de los botones */
    .my-button {
        background: transparent;
        border: 1px solid $color-gold;
        border-radius: 45px;
        transition: 0.5s;
        box-shadow: $sombra $sombra-color;
        padding:15px 30px;
        line-height: 140%;
        
        a {
            color: $color-gris-dark;
            font-size: 23px;
            
        }

        &:hover {
            background-color: $color-gold;
        }
        
    }

    /*Estilos del Card productos */
    .product-card {
        text-align: center;
        margin-bottom: 24px;
        background-color: transparent;
        border: none;

        .card-img {
            position: relative;
            margin-bottom: 16px;
            overflow: hidden;
            border-radius: 45px;
            box-shadow: $sombra $sombra-color;

            img {
                object-fit: cover;
            }

            transition: 0.5s;
            &:hover {
                filter:brightness(50%) ;
            }
        }

        .card-title {
            font-size: 24px;
            padding-bottom: 8px;
        }

        .card-button {
            border-radius: 45px;
            box-shadow: $sombra $sombra-color;
            text-decoration: none;

            .add-to-cart {
                margin: 0;
                line-height: 140%;
                width: 72%;
                background-color: $color-white;
                color:$color-gris-dark;
                font-size: 18px;
                padding: 15px 15px;
                border-radius: 45px 0 0 45px;

                transition: 0.5s;
                &:hover {

                
                background-color: $color-gold;
                color:$color-white;          
                }
            }

            .price {
                margin: 0;
                line-height: 120%;
                width: 28%;
                background-color: $color-gold;
                color:$color-white;
                font-size: 21px;
                padding: 14px 0;
                border-radius: 0 45px 45px 0;
            }

            transition: 0.5s;
                &:hover {

                
                background-color: $color-gold;

            }
        }

    }

    /*Estilos del Modal carrito */
    .custom-modal {

        .modal-content {
            background-color: $color-crema;
            border-radius: 30px;

            .list-group-item {
                background-color: $color-crema;

                .my-button
                {
                    padding:12px;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    /*Estilos del Modal notificación al agregar producto a carrito */
    .custom-modal-alert {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        width: 400px;
        padding: 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        background-color: #d4edda;
        color: #155724;
        opacity: 0; /* Inicialmente, la alerta es invisible */
        transition: opacity 0.5s ease; /* Transición de opacidad para la animación de entrada */
      
        &.show {
            opacity: 1; /* Cuando tiene la clase 'show', la alerta es visible */
          }

        &.fade {
        opacity: 0; /* Cuando tiene la clase 'fade', la alerta se hace invisible */
        }  

    }
    
      

}

/*Estilos del Header*/
header {
    /*Estilos del Nav*/
    background-color: $color-crema !important;
    padding-top: 25px;

    a {
        font-weight: $negrita;
        font-size: 23px;
    }

    .top-bar {
        height: 60px;
        text-align: center;

        .navbar-brand {
            display: flex;
            justify-content: center;
        }

        .header-buttons {
            background-color: $color-crema;
            border:none;
            height: $header-buttons-size;
            width: $header-buttons-size;
            padding: 0;
            transition: 0.5s;

            svg {
                height: $header-icons-size;
                width: $header-icons-size;
                vertical-align: middle;
            }

            .bi-list, .bi-search, .bi-cart, .bi-bag-heart {
                color: $color-blue;
            }
    
            &:hover {
                background-color: $color-gold;
            }
        }


        .important-links {
            display:flex;
            justify-content: center;
    
            .important-unordered-list {
                padding: 0;
                list-style: none;
                margin-bottom: 0;
                width: auto;
    
                .important-list-item {
                    margin: 0px 8px 0px 8px;
                    
                    
                }
    
            }
    
        }


    }

    .navbar-brand, .nav-link {
        color: $color-blue !important;
        transition: 0.5s;
        &:hover {
            color: $color-gold !important;
        }
  
    }

    .nav-item {
        .activo {
            
            color: $color-gold !important;
            &:hover {
                color: $color-blue !important;
            }
        }
    }

    

    

}

/*Estilos del Hero*/
hero {

    .hero-banner {
        background-image: url(../assets/img/bg-ganesha.png);
        background-position: 0px -100px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1080px;
    }

    .hero-content {
        padding-top: 80px ;
        text-align: left;

        .hero-title {
            font-size: 80px;
        }

        .hero-subtitle {
            font-size:40px;
            margin-bottom: 32px;
        }

    }

    .hero-content-cart {
        padding-top: 80px ;
        text-align: center;

        .hero-title {
            font-size: 80px;
        }

        .hero-subtitle {
            font-size:40px;
            margin-bottom: 32px;
        }

    }
    
    
    

}

/*Estilos del Main */
main {

    /* Estilos de Carrito */
    .mi-carrito {
        padding: 100px 0 50px 0;

        .tabla-carrito{
            border-radius: 45px;
            box-shadow: $sombra $sombra-color;
            background: $color-white;
            padding: 15px;
            margin-bottom: 30px;

            .carta-tabla-carrito {
                width: 100%;
                margin-bottom: 32px;

                .titulos-tabla {

                    td {
                        padding: 32px 0 48px;
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 140%;
                        color: $color-gris-dark;
                        
                        
                    }
                }

                .item-carrito {

                    .img-item-carrito {
                        width: 23%;
                        padding-right: 20px;

                        img {
                            max-width: 100%;
                            height: 200px;
                            vertical-align: middle;
                            border-radius: 15px;
                            box-shadow: $sombra $sombra-color;
                        }

                    }

                    td {
                        padding-bottom: 32px;

                    }

                    .item-descrip {
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 140%;
                        color: $color-gris-dark;
                        max-width: 30px; 
                        word-wrap: break-word; 
                        
                    }

                    .my-button
                    {
                        padding:12px;
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }   

                }

            }
            
        }

        .carrito-ticket {
            border-radius: 45px;
            background: $color-white;
            box-shadow:$sombra $sombra-color ;

            .ticket-content{
                &:first-child{
                    border:0;
                }
                padding: 30px;
                border-top: 3px solid $color-gold;


                h5 {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 120%;
                    color: $color-gris-dark;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                .detalle-compra {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4px;

                    p{
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 120%;
                        color: $color-gris-dark;
                        margin-bottom: 0;
                    }

                    span {
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 140%;
                        color: $color-gris-dark;
                        margin-bottom: 0;
                    }

                }

                .total-compra {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;

                    
                }

                .my-button {
                    background-color: $color-gold;

                    &:hover {
                        background-color: $color-crema;
                    }
                    a{
                        font-size: 34px;
                    }
                }
                
            }
        }
        

    }


    /*Estilos de About*/
    .about {

        .about-content {
            margin: 20px 0;

            .since {

                background: transparent;
                border: 1px solid $color-gold;
                border-radius: 119px;
                box-shadow: $sombra $sombra-color;
                height: 119px;
                width: 119px;
                padding:15px 30px;
                margin: 0 auto;



            }

            .details {
                text-align: left;

                .details-title {
                    font-size: 40px;
                }
            }




        }

        .img-about {
            margin-right: -300px; 
            padding: 50px;

            img {
                border-radius: 45px;
                box-shadow: $sombra $sombra-color;
            }
        }



    }

    /*Estilos de Destacados */

    .destacados {
        padding: 100px 0;

        
    }

    /*Estilos de Categorias */
    .categorias {

        .categoria-img {
            position: relative;
            text-align: center;
            border-radius: 45px;
            display: grid;
            place-items: center;
            margin-bottom: 16px;

            

            .cat-img-prim {
                border-radius: 0 45px 45px 0;
            }

            .cat-img-seg {
                border-radius: 45px;
            }

            .cat-img-terc {
                border-radius: 45px 0 0 45px;
            }

            a {
                position: absolute;
                text-decoration: none;
            }

        }

        .categoria-btn {
            background-color: $color-white;
            color:$color-gris-dark;

            &:hover {
                background-color: $color-gold;
            }
        }   

    }

    /*Estilos de Novedades */
    .novedades {
        padding: 100px 0;
    }
  

}



/*Estilos del Footer*/
.footer {

    .footer-menu {
        background-color: $color-crema;
        h3 {
            text-transform: uppercase;
        }

        p a, .social-media-icon {
            color: $color-gris-dark;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                color: $color-gold;
            }
        }
    }
    
    .footer-legal {
        background-color: $color-crema;
        color: $color-gris-dark;
        a {
            color: $color-blue;
            text-decoration: none;
            transition: 0.5s;
        }
      
    }
    

    
    
}

//Large, XL, XXL:  992px < x < +1400px (Laptop and Desktop)
@media (min-width: 992px) {
    body {
        padding-top: 152px;

        .card-img {
            img {
                width: 306px;  
                height: 368px; 
            }
        }
        
    }

    .about-content {
        margin: 112px 0 !important;
    }
    
}

//Medium: 768px < x 991px (Tablets)
@media (min-width: 768px) and (max-width: 991px) {

    body {
        h2 {
            font-size: 42px !important;
        }

        .card-img {
            img { 
                height: 466px; 
            }
        }

        
    }

    .hero-banner {
       height: 810px !important;
       background-position: -250px -100px !important;
       
        
    }

    .hero-title {
        font-size: 60px !important;
    }

    .hero-subtitle{
        font-size:30px !important;
    }

    
    
}


//XXSmall: 401px < x <  575px (Smartphones)
@media (max-width: 575px) {

    body {
        h2 {
            font-size: 32px !important;
        }

        .product-card {

            .card-img {
                img { 
                    height: 250px !important; 
                }
            }
    
            .card-title {
                font-size: 18px !important;
                padding-bottom: 8px;
            }
    
            .add-to-cart{
                font-size: 13px !important;
                padding: 15px 0px !important;
            }
    
            .price {
                font-size: 13px !important;
                padding: 15px 0 !important;
            }


        }
        

        .titulos-tabla, .item-carrito {
            td {
                font-size: 15px !important;
            }
        }

        .img-item-carrito {
            
            img {
                height: 100px !important;

            }

        }
    }

    .navbar-brand {
        
        font-size: 130%;
    }

    .header-buttons {
        height: $header-buttons-size*0.7 !important;
        width: $header-buttons-size*0.7 !important;
        

        svg {
            height: $header-icons-size*0.7 !important;
            width: $header-icons-size*0.7 !important;
        }
    }

    .important-list-item {
        margin: 0px 4px 0px 4px !important;
        
        
    }

    .hero-banner {
        height: 600px !important;
        background-position: -300px 0px !important;
         
     }

    .hero-title {
        font-size: 40px !important;
    }

    .hero-subtitle {
        font-size:23px !important;
    }

    .about {
        padding-top: 40px;

        .since {
            position: absolute;
            left:unset;
            right: 20px;
        }

        .details {
            padding-top: 80px;
        }

        .img-about {
            padding: 24px !important;
        }

    }

}





